<div class="row">

    <div class="col-12 col-md-12 text-center justify-content-center align-items-center d-flex">

        <h3>
            We're leaders in
        </h3>
        <h2 class="roboto-light mt-3">
            Creative Digital Recruitment
        </h2>
        <div class="line"></div>
        <p class="roboto-light mt-3">
            Based in Surry Hills, the creative hub of Sydney we are surrounded by creativity<br> and that reflects on
            the
            type of jobs we recruit for.
        </p>

        <div class="button mt-5">

            FIND OUT MORE ABOUT US
        </div>


    </div>

</div>