<div class="row bg-dark justify-content-center align-items-center">

    <div class="col-4 col-md-4 ">

        <form action="">
            <legend class="text-light">
                Subscribe to our Job Seeker Mailing List
            </legend>
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Enter Your Email Address">
            </div>
            <button type="submit" class="btn btn-primary mt-1">Submit</button>
        </form>

    </div>

</div>